@media (max-width: 575px) {
    .container {
        width: 90%;
    }
    .promo {
        min-height: 430px;
        padding: 21px 0 45px 0;
        .header {
            &__logo {
                img {
                    width: 90%;
                }
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 13px;
            }
            .button {
                width: 130px;
                height: 30px;
                font-size: 11px;
            }
        }
        &__wrapper {
            align-items: center;
        }
        &__header {
            margin-top: 40px;
            font-size: 38px;
            text-align: center;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 20px;
            text-align: center;
            line-height: 25px;
        }
        &__icons {
            display: none;
        }
        &__link {
            text-align: center;
            font-size: 13px;
        }
        .button_main {
            width: 280px;
        }
    }
    .advantages {
        padding: 35px 0 43px 0;
        .title {
            font-size: 20px;
        }
        &__blocks {
            display: block;
            margin-top: 30px;
        }
        &__block {
            margin: 0 auto;
            width: 289px;
            margin-top: 30px;
        }
    }
    .consultation {
        min-height: 400px;
        padding: 50px 0 57px 0;
        .title_left {
            text-align: center;
            font-size: 26px;
            line-height: 40px;
            margin-bottom: 25px;
        }
        &__descr {
            display: none;
        }
        .feed-form {
            margin: 0 auto;
            width: 280px;
        }
    }
    .carousel {
        padding: 41px 0;
        &__inner {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}